<!doctype html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Style: Fonts from Google -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">

  <!-- static CSS files -->
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  {% block css %}
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

  <!-- <script>
  $(document).ready(function(){
    $("#secret-button").click(function(){
      $('#secret-text').fadeIn("slow");
    });
  });
</script> -->

</head>
<body>
  <h1 id="secret-text">SECRET MESSAGE</h1>
  <div class="logo-border">
    <div class="logo">
      <img class="logo-img" src="{% static 'images/Cookie_Logo_noBACK.png' %}" alt="The logo of O'Whata Cookie"><br>
      <p>
        <span class="logo-span logo-span-large">Cookies, Cakes</span><br>
        <span class="logo-span logo-span-small">and much more made with Love</span>
      </p>
    </div>
  </div>
  <nav>
    <a href="{% url 'home' %}" class="btn nav-btn" id="home-btn">Home</a>
    <!-- <div class="nav-right"> -->
    <a href="{% url 'items_list' %}" class="btn nav-btn">Order</a>
    <a href="#" class="btn nav-btn">About Us</a>
    <a href="#" class="btn nav-btn">Contact</a>
    <button id="secret-button" type="button" name="button">Secret</button>
    <!-- </div> -->
  </nav>

  {% block content %}
  {% endblock %}

  <!-- </script> -->
  <!-- <script type="text/javascript" src="{% static 'js/base.js' %}"></script> -->

  {% block scripts %}
  {% endblock scripts %}

</body>
</html>
