<!doctype html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Style: Fonts from Google -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">

  <!-- static CSS files -->
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  {% block css %}
  {% endblock %}

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script> -->

</head>
<body>
  {% if show_logo %}
  <div class="logo-border">
    <div class="logo">
      <img class="logo-img" src="{% static 'images/Cookie_Logo_noBACK.png' %}" alt="The logo of O'Whata Cookie"><br>
      <p class="title-span" id="title-span">
        <span class="logo-span logo-span-large">Cookies, Cakes</span><br>
        <span class="logo-span logo-span-small">and much more made with Love</span>
      </p>
    </div>
  </div>
  {% endif %}
  <div class="nav-border">
    <nav>
      {% if not show_logo %}
      <div class="small-img-div">
        <img class="logo-img small-img" src="{% static 'images/Cookie_Logo_noBACK.png' %}" alt="The logo of O'Whata Cookie"><br>
      </div>
      {% endif %}
      <a href="{% url 'home' %}" class="btn nav-btn" id="home-btn">Home</a>
      <a href="{% url 'items_list' %}" class="btn nav-btn">Order</a>
      <a href="#" class="btn nav-btn">About Us</a>
      <a href="#" class="btn nav-btn">Contact</a>
      <a href="{% url 'session_cart' %}#checkout" class="btn nav-btn" id="cart-btn">
        <img id="cart-img" src="{% static 'images/cart.png' %}" alt="Cart icon">
        Cart
        {% if num_of_items > 0 %}
        : {{ num_of_items }}
        {% endif %}
      </a>
    </nav>
  </div>

  <main>
  {% block content %}
  {% endblock %}
  </main>

  <footer class="footer">
    <div class="footer-border">
      <div class="row footer-contents">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 follow column">
          <p class="footer-title">FOLLOW US</p>
          <p>Instagram - <a class="social-link" href="https://www.instagram.com/owhatacookie/">@owhatacookie</a></p>
          <p>Facebook - <a class="social-link" href="https://www.facebook.com/owhatacookie/">O'Whata Cookie</a></p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 address column">
          <p class="footer-title">ADDRESS</p>
          <p>Baking in Corona, CA</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 hours column">
          <p class="footer-title">HOURS</p>
          <p>Mon – Thur  8AM - 5PM</p>
          <p>Friday  8AM - 6PM</p>
          <p>Saturday  8AM - 6PM</p>
          <p>Sunday  7AM - 6PM</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 copyright column">
          <p class="footer-title"> </p>
          <p>&copy;2020 by O'Whata Cookie.</p>
          <p>A proud home cottage business.</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script type="text/javascript">
  let static_url = "{% get_static_prefix %}"
  </script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

  {% block scripts %}
  {% endblock scripts %}

</body>
</html>
