{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <style media="screen">
  @media only screen and (max-width: 660px) {
    table.container { width: 400px !important; }
    /* td.logo img { display: none; }
    td.logo { background: #fff url({% static 'images/Cookie_Logo_noBACK.png' %}) no-repeat 10px 10px; height: 100px; } */
    td.headhline { padding: 5px 0 0 30px !important; }
    td.headline h1 { font-size: 28px !important; }

    td.content { padding-bottom: 30px !important; }
    td.content table.button { width: auto; }
    td.content table.button td a { font-size: 14px !important; }
  }

  @media only screen and (max-width: 510px) {
    table.container { width: 300px !important; }
    /* table.container td { border: none !important; } */
    /* td.logo { background: #fff url({% static 'images/Cookie_Logo_noBACK.png' %}) no-repeat center 10px; height: 50px; } */
    td.headline h1 { font-size: 24px !important; text-align: center; }
    td.content { line-height: 20px !important; padding-bottom: 10px !important; }
  }
  </style>
</head>
<body style="margin:0;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFA000">
    <tr>
      <td>
        <table class="container" width="640" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top" align="center" class="logo" bgcolor="#ffffff" style="padding: 10px 20px 0 30px;border-left: 2px solid #E30000;border-right: 2px solid #E30000;border-top: 2px solid #E30000;">
              <a href="#"><img style="margin-left: -15px;" src="{% static 'images/Cookie_Logo_noBACK.png' %}" alt="Logo" width="150" height="150" border="0"></a>
            </td>
          </tr>
          <tr>
            <td valign="top" align="center" class="headline" bgcolor="#ffffff" style="padding: 15px 20px 5px 30px; border-left: 2px solid #E30000; border-right: 2px solid #E30000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
              <h1 style="margin: 0 0 15px 0;font-weigth: normal;font-size: 32px;color: #E30000;">O'Whata Cookie Invoice</h1>
            </td>
          </tr>
          <tr>
            <td valign="top" class="headline" bgcolor="#f5f2e5" style="padding: 15px 20px 5px 30px; border-left: 2px solid #E30000; border-right: 2px solid #E30000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
              <h3>{{ order.customer.first_name }}, thank you for ordering from O'Whata Cookie! We appreciate your business. See below for the invoice of your order.</h3>
            </td>
          </tr>
          <tr>
            <td valign="top" bgcolor="#f5f2e5" class="content" style="padding: 5px 30px 30px; border-right: 2px solid #E30000; border-left: 2px solid #E30000; font-family:Arial, Helvetica, sans-serif; font-size: 16px; line-height:22px; color: #654308;">
              <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="background: white;border-radius: 5px;border: dashed 2px #CC0000;">
                <tr>
                  <td>
                    <table align="center" width="85%" border="0" cellspacing="0" cellpadding="0">
                      <tr style="line-height: 6px;">
                        <td>
                          <h2 style="text-decoration: underline;text-align: center;">Order Bill</h2>
                        </td>
                      </tr>
                      <tr style="line-height: 6px;">
                        <td>
                          <p style="text-align: center;">{{num_of_items}} Total Items</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table align="center" width="85%" border="0" cellspacing="0" cellpadding="0">

                      {% for item in item_list %}
                      <tr>
                        <td style="font-weight: 700;">
                          {{ item.quantity }} x {{ item.name }}:
                        </td>
                        <td style="font-weight: 700;">
                          ${{ item.total_price }}
                        </td>
                      </tr>
                      {% if item.note %}
                      <tr>
                        <td style="font-style: italic;">
                          Note: {{ item.note }}
                        </td>
                      </tr>
                      {% endif %}

                      {% endfor %}

                      {% if order.note %}
                      <tr>
                        <td style="font-style: italic;">
                          Order Note: {{ order.note }}
                        </td>
                      </tr>
                      {% endif %}

                      <tr>
                        <td style="padding: 15px 0 0;">
                          Subtotal:
                        </td>
                        <td style="padding: 15px 0 0;">
                          ${{ subtotal }}
                        </td>
                      </tr>
                      {% for fee, price in fees.items %}
                      <tr>
                        <td>
                          {{ fee }}:
                        </td>
                        <td>
                          ${{ price }}
                        </td>
                      </tr>
                      {% endfor %}
                      <tr>
                        <td style="padding:15px 0;border-top: 2px dashed #CC0000;font-weight: 700;">
                          Total:
                        </td>
                        <td style="padding:15px 0;border-top: 2px dashed #CC0000;font-weight: 700;">
                          ${{ total }}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" class="headline" bgcolor="#FFFFFF" style="padding: 15px 30px 0 30px; border-left: 2px solid #E30000; border-right: 2px solid #E30000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
              <h3>We will contact you using this info:</h3>
              <p style="line-height: 20px;">
                {{ order.customer.first_name }} {{ order.customer.last_name }}<br>
                {{ order.customer.email }}<br>
                {{ order.customer.phone_number }}
              </p>

              {% if not order.pickup %}
              <h4>Delivery Address</h4>
              <p style="line-height: 20px;">
                {{ order.customer.address.street_one }}<br>
                {{ order.customer.address.street_two }}<br>
                {{ order.customer.address.city }}, {{ order.customer.address.state }} {{ order.customer.address.zipcode }}
              </p>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td valign="top" class="headline" bgcolor="#FFFFFF" style="padding: 15px 35px 30px 35px; border-left: 2px solid #E30000; border-right: 2px solid #E30000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
          </tr>
          <tr>
            <td valign="top" class="headline" bgcolor="#FFFFFF" style="padding: 15px 35px 30px 35px; border-left: 2px solid #E30000; border-right: 2px solid #E30000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
          </tr>
          <tr>
            <td valign="top" class="footer" bgcolor="#f5f2e5" style="padding: 10px 20px 30px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b2a16e;border-left: 2px solid #E30000;border-right: 2px solid #E30000;border-bottom: 2px solid #E30000;">
              &copy; O'Whata Cookie. PLEASE DO NOT REPLY TO THIS MESSAGE:
              <br><br>
              Your <a href="#" style="color:#000000;">privacy</a> is important to us. Please use this link to <a href="#" style="color:#000000;">unsubscribe</a>.
              <br><br>
              Lorem ipsum dolor sit amet consectetur adipi sicing elit sed do eiusmod tempor inci didunt ut labore et dolore iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </td>
          </tr>
        </table>
      </body>
      </html>
