/* checkout.html
================================================*/
.checkout h1 {
  /* font-family: 'Lobster', cursive; */
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
}
.hide {
  display: none;
}

.form-group {
  color: black;
}

.checkout {
  padding: 30px;
}

.bill {
  padding: 10px 20px;
  background: white;
  border-radius: 5px;
  border: dashed 2px #CC0000;
}

.order-title {
  text-decoration: underline;
  text-align: center;
}

.info {
  padding: 0 20px;
}

.checkout .form-group input {
  padding: 3px;
  margin: 3px;
}

.subtotal {
  padding-top: 15px;
}

.total {
  border-top: 2px solid #CC0000;
  padding-top: 3px;
}

.confirm-btn-div {
  /* background-color: green; */
}

.checkout-btn {
  color: white;
  background-color: #CC0000;
  border-radius: 10px;
  padding: 6px;
  /* margin: 10px; */
  /* width: 125px; */
  text-align: center;
  display: block;
  margin: 10px auto;
  border: none;
}

.checkout-btn:disabled,
.checkout-btn:disabled:hover,
.checkout-btn:disabled:focus {
  color: gray;
  background-color: #d3d3d3;
  cursor: default;
}


.checkout-btn:hover, .checkout-btn:focus {
  background-color: white;
  color: #CC0000;
}

.disabled,
.disabled:hover,
.disabled:focus {
  color: gray;
  background-color: #d3d3d3;
  cursor: default;
}

.required {
  color: #CC0000;
  font-style: italic;
}

.radio-buttons {
  padding: 3px 0;
}
